@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

:root {
  font-family: 'Mulish', sans-serif;
  text-align: center;

}

nav {
  margin-top: 10px;
  max-width: auto;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  align-items: center;
  margin-left: 2rem;
}

nav img {
  width: 15%;
}

.menu-container {
  
    margin-top: 50px;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin: 0 20px; 
}


#hamburger{
    display: none;
}

.banner-container {
    margin-top: 2rem;
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }


  .selection{
    display: inline-flex;
padding: 16px;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
align-items: center;
justify-content: center;
margin: 0;
  }


  
  .input{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;

margin: 10px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


  }

  .btn-find-now{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;

  }

  .selection-item {
    font-size: 16px;
    border: none; 
 
  }

  
  .selection-item::-ms-expand {
    display: none;
  }


  .find-now{
    padding: 10px;

  }



  /* popular-tour-container */

  .popular-tour-container{
    display: flex;
    margin: auto;
    width: 1170px;
    height: 500px;
    margin-top: ;

  }

 



  

/* Media Query/ Responsiveness */


@media screen and (max-width: 600px) {
  .menu-container {
    display: none;
  }

  #hamburger {
    display: flex;
    align-items: center;
    margin: auto;
    
  }

  nav img {
    width: 20%;
  }
}
